{% extends 'base.html.twig' %}

{% block title %}Sprawdź pogodę{% endblock %}

{% block body %}

<div class="container" id="all">
    <div class="text-center mt-2">
        <h1>Sprawdź pogodę</h1>
        <p>Kliknij na mapę, aby sprawdzić pogodę w tym miejscu</p>
    </div>

    <div class="row">
        <div id="map"></div>
    </div>

    <div id="output" class="modal">
</div>


<script>
    var modal = document.getElementById('output');

    var startLongitude = 52;
    var startLatitude = 21;

    var map = L.map('map').setView([startLongitude, startLatitude], 5);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '© OpenStreetMap'
    }).addTo(map);   

    var popup = L.popup()
    .setLatLng([startLongitude, startLatitude])
    .setContent("Kliknij na mapę, aby poznać pogodę")
    .openOn(map);

    function onMapClick(e) {
        popup
        .setLatLng(e.latlng)
        .setContent("Kliknąłeś w współrzędne: " + e.latlng)
        .openOn(map);

        var loaderId = document.getElementById('loaderId');
        loaderId.style.display = "block";

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "{{ path('getWeather') }}", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
            latlng: e.latlng 
        }));
        xhr.onload = function () {
            const response = JSON.parse(this.responseText);

            modal.innerHTML = buildModal(response);
            modal.style.display = "block";
            document.body.style.pointerEvents = "none";

            document.getElementById('modalBtn').onclick = function() {
                modal.style.display = "none";
                document.body.style.pointerEvents = "";
            }

            window.onclick = function(event) {
                modal.style.display = "none";
                document.body.style.pointerEvents = "";
            }

            loaderId.style.display = "none";
        }
    }

    map.on('click', onMapClick);
</script>

{% endblock %}

